/* html {
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
} */

.align-items-center{
    align-items: center;
}
.background-brown{
    background-color: rgb(138, 17, 17);
}
.color-aliceblue{
    color: aliceblue;
}
.color-white{
    color: white;
}
.display-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.d-flex-j-content-center{
    display: flex;
    justify-content: center;
}
.justify-content-space-around{
    justify-content: space-around;
}
.flex-direction-column{
    flex-direction: column;
}
.font-family-courier{
    font-family:'Courier New', Courier, monospace;
}
.font-family-franklin{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.font-size-1{
    font-size:800;
}
.no-underline{
    text-decoration: none;
}
.no-decoration{
    text-decoration: none;
}
.round-1{
    border-radius: .3rem;
}
.round-2{
    border-radius: .5rem;
}
/* Pseudoclases */
nav a:hover{
    cursor: pointer;
}

.boton-guardar{
    width: 150px;
    background-color: #5050cf;
    color: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    border-style: none;
    border-radius: .2rem;
    padding: .5rem 1rem;
    transition: .3s;
    margin: .3rem auto;
}

.boton-guardar:hover{
    cursor: pointer;
    background-color: #25259b;
    transition: .3s;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input {
    width: 200px;    
}
.centrar {
    margin: .3rem auto;
}